# Visual Studio settings
.vs

# Build folder
bin/
obj/
Shiny ID3 Tagger/bin/
Shiny ID3 Tagger/obj/
UpdateClient/bin/
UpdateClient/bin//obj/

# Windows image file caches
Thumbs.db

# Certificate for code signing
/Shiny ID3 Tagger/resources/shinyid3tagger.pfx
